<!-- start: #footer -->
<footer id="footer" class="center" role="contentinfo">
	<!-- start: .social -->
	<div class="social">
		<ul>
			<li><a href="http://www.facebook.com/vivecakeboutique" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="http://instagram.com/waiwai_vive" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="mailto:vive.cakes@gmail.com"><i class="fa fa-envelope"></i></a></li>
		</ul>
	</div>
	<!-- end: .social -->
	<div class="clear"></div>
	<h2 class="logo"><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
	<h4>{{@blog.description}}</h4>
</footer>
<!-- end: #footer -->
<a href="#" id="back-to-top"><i class="fa fa-arrow-up"></i></a>