{{! index post grid sorting 
if you are editing sort-groups remember to place chosen tag name to data-option="" param}}
{{! mobile activator}}
<div class="artee-mobile-sort">
    <i class="fa fa-filter"> <span>FILTERS</span></i>
</div>
{{!filter}}
<div class="artee-index-sort"> 
    <ul class="artee-sort-groups-options no-bullet">
        <li><a href="#" class="active" data-option="">All</a></li>
        <li><a href="#" data-option="wedding">Wedding</a></li>
        <li><a href="#" data-option="birthdays">Birthdays</a></li>
    </ul>
</div>